header, h4{
  text-align: center;
  border-style: double;
  background-color: $ffeeaa;
}
nav a{
  color: red;
  text-decoration: none;
}
nav a:hover{
  color: $ff0000;
}
nav li{
  display: table-cell;
  text-align: center;
  padding: 0.5em;
}

#fieldset_row {
  display: table;
  width : 100%;
  padding: 1px;
}

#div_row{
  display:table-cell;
  width: 70%;
}

#fieldset_row > form {
  display: table-cell;
  text-align: rigth;
  padding: 5px;
}