body{
  font-family: ÈÞ¸Õ¿¾Ã¼, ±¼¸², sans-serif;
  font-size:small;
}

label, input, select, textarea{
  float: left;
  margin-left: 1em;
  width: 10em; 
  margin-bottom: 1em;
  padding: 0.5em;
}

label{
  clear: left;
  padding: 0;
  margin: 0;
}

input[type="submit"]{
  clear:left;
}

form{
  overflow: auto;
  background-color: orange;
  padding: 0.5em;
}